In [9]:
import pandas as pd

In [16]:
df = pd.read_csv("C:/Users/Yogita/Desktop/elevate lab 2nd intern/mall/Shopping Mall Customer Segmentation Data .csv", encoding="UTF-8")
df.shape

(15079, 5)

In [19]:
# Preview the data
print("Initial Data Info:")
print(df.info())
print(df.head())

Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15079 entries, 0 to 15078
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     15079 non-null  object
 1   Age             15079 non-null  int64
 2   Gender          15079 non-null  object
 3   Annual Income   15079 non-null  int64
 4   Spending Score  15079 non-null  int64
dtypes: int64(3), object(2)
memory usage: 589.2+ KB
None
                            Customer ID  Age  Gender  Annual Income  \
0  d410ea53-6661-42a9-ad3a-f554b05fd2a7   30    Male         151479
1  1770b26f-493f-46b6-837f-4237fb5a314e   58  Female         185088
2  e81aa8eb-1767-4b77-87ce-1620dc732c5e   62  Female          70912
3  9795712a-ad19-47bf-8886-4f997d6046e3   23    Male          55460
4  64139426-2226-4cd6-bf09-91bce4b4db5e   24    Male         153752

   Spending Score
0              89
1              95
2              76
3              57
4              76

In [20]:
#Identify and handle missing value

print("Missing Values Count:")
print(df.isnull().sum())

Missing Values Count:
Customer ID       0
Age               0
Gender            0
Annual Income     0
Spending Score    0
dtype: int64

In [23]:
#Remove duplicate rows

before = df.shape[0]
df = df.drop_duplicates()
after = df.shape[0]
print("Removed {before - after} duplicate rows.")

Removed {before - after} duplicate rows.

In [26]:
#Standardize text values


for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip().str.title()

In [27]:
print(df.head())

                            Customer ID  Age  Gender  Annual Income  \
0  D410Ea53-6661-42A9-Ad3A-F554B05Fd2A7   30    Male         151479
1  1770B26F-493F-46B6-837F-4237Fb5A314E   58  Female         185088
2  E81Aa8Eb-1767-4B77-87Ce-1620Dc732C5E   62  Female          70912
3  9795712A-Ad19-47Bf-8886-4F997D6046E3   23    Male          55460
4  64139426-2226-4Cd6-Bf09-91Bce4B4Db5E   24    Male         153752

   Spending Score
0              89
1              95
2              76
3              57
4              76

In [28]:
#Convert date columns to a consistent format (dd-mm-yyyy)


# Detect date-like columns
for col in df.columns:
    if 'date' in col.lower() or 'dt' in col.lower():
        df[col] = pd.to_datetime(df[col], errors='coerce').dt.strftime('%d-%m-%Y')

In [29]:
#  Rename columns to clean, uniform names


df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')

In [30]:
print(df.head())

                            customer_id  age  gender  annual_income  \
0  D410Ea53-6661-42A9-Ad3A-F554B05Fd2A7   30    Male         151479
1  1770B26F-493F-46B6-837F-4237Fb5A314E   58  Female         185088
2  E81Aa8Eb-1767-4B77-87Ce-1620Dc732C5E   62  Female          70912
3  9795712A-Ad19-47Bf-8886-4F997D6046E3   23    Male          55460
4  64139426-2226-4Cd6-Bf09-91Bce4B4Db5E   24    Male         153752

   spending_score
0              89
1              95
2              76
3              57
4              76

In [31]:
# 7️⃣ Check and fix data types
# ------------------------------------------------------------

# Example: ensure Age is int, Income is float, etc.
if 'age' in df.columns:
    df['age'] = df['age'].astype(int)

# Convert all numeric-like columns
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_numeric(df[col])
        except:
            pass

                            customer_id  age  gender  annual_income  \
0  D410Ea53-6661-42A9-Ad3A-F554B05Fd2A7   30    Male         151479
1  1770B26F-493F-46B6-837F-4237Fb5A314E   58  Female         185088
2  E81Aa8Eb-1767-4B77-87Ce-1620Dc732C5E   62  Female          70912
3  9795712A-Ad19-47Bf-8886-4F997D6046E3   23    Male          55460
4  64139426-2226-4Cd6-Bf09-91Bce4B4Db5E   24    Male         153752

   spending_score
0              89
1              95
2              76
3              57
4              76

In [33]:
# Final check

print("Cleaned Data Info:")
print(df.info())
print(df.head())

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15079 entries, 0 to 15078
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     15079 non-null  object
 1   age             15079 non-null  int32
 2   gender          15079 non-null  object
 3   annual_income   15079 non-null  int64
 4   spending_score  15079 non-null  int64
dtypes: int32(1), int64(2), object(2)
memory usage: 530.2+ KB
None
                            customer_id  age  gender  annual_income  \
0  D410Ea53-6661-42A9-Ad3A-F554B05Fd2A7   30    Male         151479
1  1770B26F-493F-46B6-837F-4237Fb5A314E   58  Female         185088
2  E81Aa8Eb-1767-4B77-87Ce-1620Dc732C5E   62  Female          70912
3  9795712A-Ad19-47Bf-8886-4F997D6046E3   23    Male          55460
4  64139426-2226-4Cd6-Bf09-91Bce4B4Db5E   24    Male         153752

   spending_score
0              89
1              95
2              76
3              57
4              76

In [34]:
#Save cleaned data


df.to_csv("Shopping_Mall_Customer_Segmentation_Cleaned.csv", index=False)
print("Cleaned data saved as 'Shopping_Mall_Customer_Segmentation_Cleaned.csv'")

Cleaned data saved as 'Shopping_Mall_Customer_Segmentation_Cleaned.csv'